<div class="wrapper">

  <div class="chart-wrapper">
    <div class="chart-title">Charts.js</div>
    <div class="chart">
      <app-chart-js></app-chart-js>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">GoogleCharts</div>
    <div class="chart">
      <app-google-charts></app-google-charts>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">HighCharts</div>
    <div class="chart">
      <app-highcharts></app-highcharts>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">Plotly</div>
    <div class="chart">
      <app-plotly></app-plotly>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">Apex</div>
    <div class="chart">
      <app-apex></app-apex>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">Canvas JS</div>
    <div class="chart">
      <app-canvas-js></app-canvas-js>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart-title">Am Charts</div>
    <div class="chart">
      <app-am-charts></app-am-charts>
    </div>
  </div>

</div>